<div class="row middle-xs form-group">
    <label for="{{ item.id }}" class="col-xs-12 col-sm-2 center-xs start-sm">{{ item.title }}</label>
    <div class="col-xs-12 col-sm-10" [ngSwitch]="item.type" [ngClass]="{invalid: item.formControl.touched && !item.formControl.valid}">

        <input type="text" name="{{ item.id }}" id="{{ item.id }}" class="form-control"
               [(ngModel)]="item.value" (change)="onChange()" *ngSwitchCase="'text'" (blur)="onChange()">

        <select name="{{ item.id }}" id="{{ item.id }}" class="form-control"
                [(ngModel)]="item.value" (change)="onChange()" *ngSwitchCase="'select'"
                (blur)="onChange()">
            <option *ngFor="let option of item.options" value="{{ option.value }}" data-label="{{ option.label }}">
                {{ option.label }}
            </option>
        </select>

        <app-ux-autocomplete [options]="item.options" [ngClass]="{invalid: item.formControl.touched && !item.formControl.valid}"
                             [(ngModel)]="autoCompleteValue" *ngSwitchCase="'autocomplete'"
                             (blur)="onChange()">
        </app-ux-autocomplete>

        <span *ngIf="item.formControl.touched && !item.formControl.valid" class="validation-message">
            To pole jest wymagane.
        </span>
    </div>
</div>
