$red: #f70000;

.form-group {
  border-bottom: 1px solid #eff2f7;
  padding-bottom: 15px;
  margin-bottom: 15px;
  label {
    color: #797979;
    font-weight: 300;;
    font-family: Lato, sans-serif;
    font-size: 16px;
  }

  .invalid > input, .invalid > select {
    border: 1px solid $red;
  }

  .validation-message {
    display: block;
    padding-top: 10px;
    font-size: 16px;
    color: $red;
  }

  select {
    width: 100%;
    height: 35px;
  }

  input {

  }
}

.autocomplete {
  border-top: none;
}