<div class="row">
    <div class="col-xs-12 autocomplete-container" tabindex="-1">
        <input type="text" [(ngModel)]="searchValue" class="form-control" (focus)="setDisplay(true)" (blur)="blurInput()">
        <div class="list-container">
            <app-ux-list-input [options]="searchOptions" [(ngModel)]="listValue" *ngIf="!hide"></app-ux-list-input>
        </div>
    </div>
</div>