$red: #f70000;

:host.invalid input {
  border-color: $red;
}

.autocomplete-container {
  &:focus {
    outline: none;
  }

  app-ux-list-input {
    position: absolute;
    width: 100%;
  }

  .list-container {
    position:relative;
  }
}

