<h1>Panel rejestracyjny</h1>
<div *ngIf="validation.message !== ''" class="row validation middle-xs"
     [ngClass]="{'error': !validation.status, 'success': validation.status}">
    <div class="col-xs-12">
        {{ validation.message }}
    </div>
</div>
<app-ux-form [list]="formCreationObject" (formUpdate)="submitForm($event)"></app-ux-form>
