<h1 class="center-xs">Zasady</h1>
<div class="row text-container">
  <div class="col-xs-12 col-md-offset-1 col-md-10">
    <p>
      <b>1. Czas walki</b>
    </p>
    <p class="acapit">
      2 min (dzieci)
    </p>
    <p class="acapit">
      3 min (młodzik, junior młodszy)
    </p>
    <p class="acapit">
      4 min ( junior)
    </p>
    <p class="ind">
      W razie remisu sędzia, jako zwycięzcę wskazuje zawodnika aktywniejszego.<br> Przy ocenie bierze pod uwagę dążenie
      do wykonania techniki, skuteczne ucieczki z pozycji zagrożenia, lepsza kontrola walki.
    </p>
    <p>
      <b>2.Zabronione jest:</b>
    </p>
    <p class="acapit">wszelkie rodzaje uderzeń i kopnięć;</p>
    <p class="acapit">atakowanie palcami oczu, uszu, nosa, ust, szyi, krocza;</p>
    <p class="acapit">chwytanie za krtań, uszy, nos, genitalia, włosy;</p>
    <p class="acapit">gryzienie, szczypanie;</p>
    <p class="acapit">dźwignie na stawy palców oraz nadgarstków;</p>
    <p class="acapit">wszystkie dźwignie na nogi;</p>
    <p class="acapit">wszystkie dźwignie na kręgosłup;</p>
    <p class="acapit">„rozbijanie” – podnoszenie i upuszczanie przeciwnika, który:</p>
    <p class="acapit-second-level">trzyma zawodnika w gardzie</p>
    <p class="acapit-second-level">trzyma zawodnika w duszeniu trójkątnym nogami</p>
    <p class="acapit-second-level">założył dźwignię na staw łokciowy</p>
    <p class="acapit-second-level">trzyma zawodnika w duszeniu gilotynowym</p>
    <p class="acapit">wszelkiego rodzaju dźwignie i duszenia w kategoriach dzieci I-III</p>
    <p class="acapit">rzuty za głowę</p>
    <p class="acapit">duszenie nogami "skorpion"</p>
    <p><b>4. Techniki punktowane:</b></p>
    <p class="acapit">sprowadzenie przeciwnika do parteru – 2 pkt.;</p>
    <p class="acapit">dosiad – 4 pkt.;</p>
    <p class="acapit">wejście za plecy przeciwnika – 4 pkt.;</p>
    <p class="acapit">przejście gardy – 3 pkt.;</p>
    <p class="acapit">pozycja „kolano na brzuchu” – 2 pkt.;</p>
    <p class="acapit">przetoczenie z gardy, półgardy – 2 pkt.</p>
    <p class="acapit">Pozycje punktowane są zaliczane, jeżeli zawodnik utrzyma je, co najmniej przez 3 sekundy. </p>
    <p><b>5. Zawodnik zostaje ukarany ujemnym punktem, jeżeli:</b></p>
    <p class="acapit">unika walki celowo wychodząc poza pole walki;</p>
    <p class="acapit">przetrzymuje pasywnie (nie podejmuje prób wykonania akcji punktowej lub techniki kończącej)
      swojegoprzeciwnika w pozycji bocznej, dosiadającej, za plecami lub trzymaniu bocznym przez 20 sekund;</p>
    <p class="acapit">pomimo ostrzeżenia nadal przetrzymuje pasywnie przeciwnika w pozycji bocznej lub trzymaniu
      bocznym przez 10 sekund.</p>
    <p class="acapit">podważa decyzje sędziego.</p>
    <p><b>6. Zawodnik zostaje zdyskwalifikowany za:</b></p>
    <p class="acapit">celowe wykonanie techniki zabronionej.</p>
    <p class="acapit">niesportowe zachowanie swoje, trenera, klubowych kolegów.</p>
    <p>
      <b>
        Kategoria U-8 walczy tylko w parterze z pozycji siadu klęcznego .Jeśli zawodnicy podniosą się ,sędzia przerywa
        walkę i wraca do pozycji wyjściowej. Wykonie akcji zabronionej np. rzut za głowę, duszenia czy dźwignie w grupie
        dzieci z której zawodnik odnosi korzyść np. zdobywa lepszą pozycję, powoduje przerwanie walki i ostrzeżenie
        lub ukaranie przez sędziego .
      </b>
    </p>
  </div>
</div>
