$margin: 30px;
.text-container{
  margin: 20px 0;
}

p {
  b {
    font-weight: bold;
  }

  &.acapit {
    margin-left: $margin;
    &::before {
      content: '-';
      margin-right: 5px;
    }
  }

  &.acapit-second-level {
    margin-left: calc(#{$margin} * 2);
    &::before {
      content: '*';
      margin-right: 5px;
    }
  }
}

.ind {
  margin-left: $margin;
}

@media (max-width: 991px) {
  p.acapit {
    margin: 0;
  }

  p.acapit-second-level {
    margin: 0;
  }

  .ind {
    margin: 0;
  }
}
