<h1 class="center-xs">Komunikat organizacyjny zawodow!</h1>
<div class="row text-container">
  <div class="col-xs-12 col-md-offset-1 col-md-10">
    <p>
      <b>1.Termin i miejsce:</b>
      18 listopad 2017 /Sobota/ Tarnowo Podgórne / Poznania
    </p>

    <p>
      <b>2.Organizator:</b>
      Kosen Judo
    </p>

    <p>
      <b>3.Miejsce zawodów:</b>
      Ośrodek Sportu i Rekreacji Tarnowo Podgórne ul. Nowa 15 Tarnowo Podgórne
    </p>

    <p>
      <b>4.Sponosrzy główni</b>
    </p>
    <p class="acapit">Firma Duko</p>
    <p class="acapit">Firma Pitbull West Coast</p>
    <p class="acapit">Jump Arena</p>

    <p>
      <b>5.Kontakt</b>
      Michał Kujawa 502711541
    </p>

    <p>
      <b>6.Kategorie wagowe gi / no-gi </b>
    </p>
    <p class="acapit">Dzieci U-8 (2010 – 2011): 23 kg, 26 kg, 29 kg, + 29kg / walki w parterze ,kat. łączona chłopcy i dziewczynki /</p>
    <p class="acapit">Dzieci U-10 (2008 - 2009): dzw 25kg, 30 kg, 35 kg, + 35 kg chł 25 kg, 29 kg, 33 kg, 37 kg, + 37kg </p>
    <p class="acapit">Dzieci U-12 (2006 – 2007): dzw 32 kg, 37 kg, 42 kg, 48 kg, + 48 kg chł 32kg, 36 kg, 40 kg, 45 kg, 50 kg, + 50 kg </p>
    <p class="acapit">Młodzicy (2004-2005 dzw 35 kg, 40 kg, 45 kg, 50 kg, + 55 kg chł 38 kg, 43 kg, 48 kg , 54 kg, + 54 kg </p>
    <p class="acapit">Juniorzy młodsi (2002-2003) chł 50 kg, 55 kg, 61 kg, +66 kg dzw 50 kg, 55 kg, 61 kg, + 61kg </p>
    <p class="acapit">Junior ( 2000-2001) chł- 69 kg , +69 kg dzw 60 kg , +60 kg </p>
    <p class="ind">Waga zawodnika bez GI.</p>

    <p>
      <b>7.Wszyscy zawodnicy muszą posiadać</b>
    </p>
    <p class="acapit">Badania sportowo-lekarskie lub jednorazową zgodę lekarza na udział w zawodach BJJ</p>
    <p class="acapit">Ubezpieczenie NW</p>
    <p class="acapit">Pisemną zgodę rodziców bądź opiekuna prawnego na start w zawodach.</p>

    <p>
      <b>8.Program zawodów 18.11.2017 (Sobota)</b>
    </p>
    <p class="acapit">8:00 – 9.00 Weryfikacja i waga zawodników /zawodnicy ważą się bez gi/</p>
    <p class="acapit">9:00 – 9:45 Omówienie przepisów i dozwolonych technik,</p>
    <p class="acapit">9.45 – 10.00 Wspólna rozgrzewka </p>
    <p class="acapit">10.00 Otwarcie zawodów, walki </p>

    <p>
      <b>9.Nagrody</b>
    </p>
    <div class="ind">
      <p>Medale otrzymują miejsca 1-3. Dyplom dla wszystkich uczestników. Nagrody rzeczowe ufundowane przez sponsorów.</p>
      <p>Najlepsze drużyny 1-3 gi i no-gi otrzymają puchary okolicznościowe.</p>
      <p>Możliwe jest zgłoszenie zawodnika w kategorii GI i NO-GI. Nie ma możliwości dodatkowego zapisu w kategoriach
        wyższych czy to wiekowych czy wagowych.W momencie gdy będzie jeden zawodnik w dywizji zawodnik może zostać
        dopisany w wyższej kategorii wiekowej lub odebrać medal bez walki. </p>
    </div>

    <p>
      <b>10.Koszty:</b>
    </p>
    <div class="ind">
      <p>Koszty przejazdu, ubezpieczenia, wyżywienia i zakwaterowania pokrywają zainteresowane kluby lub zawodnicy.</p>
      <p>Opłata startowa wynosi 50zł. Start w dwóch kategoriach 80 zł gi / no-gi.</p>
      <p><b>Zgłoszenia zawodników do 12.11.2017 - niedziela.</b></p>
    </div>

    <p>
      <b>11.Dane do przelewu:</b>
    </p>
    <div class="ind">
      <p>Zgłoszeń dokonują kierownic/trenerzy ekip przez panel rejestracyjny</p>
      <p>Opłatę startową należy uiścić do dnia 12.11.2017</p>
      <p><b>Numer konta: 18 1240 6609 1111 0010 7460 1232 Bank Pekao</b></p>
      <p><b>Tytuł: UKS Energetyk Poznań </b></p>
    </div>
  </div>
</div>
