<div class="row">
  <div class="col-xs-12 center-xs">
    <h1>ZAPRASZAMY NA DUKO CUP 5!</h1>
  </div>
  <div class="col-xs-12 center-xs">
    <a href="#">
      <img src="assets/current-tournament.jpg">
    </a>
  </div>
</div>
