<div class="main-container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
      <div class="col-xs-12 center-xs">
        <h1>Firmy wspierające nasz turniej</h1>
      </div>
      <a href="{{ sponsor.href }}" target="_blank" *ngFor="let sponsor of data" class="{{ sponsor.className }}">
        <div class="row sponsor-box middle-xs">
          <div class="col-xs-12 col-sm-6">
            <div class="row center-xs start-md">
              <img src="{{ getLogoUrl(sponsor.image) }}">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 desc-container">
            <span>{{ sponsor.description }}</span>
          </div>
        </div>
    </a>
    </div>
  </div>
</div>
