$box-shadow:  2px 2px 18px 0 rgba(0,0,0,0.75);

.main-container {
  margin: 10px auto;
}

a {
  text-decoration: none;
}

.sponsor-box {
  margin-bottom: 20px;
  border: 2px solid whitesmoke;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  img {
    height: 150px;
    max-width: 100%;
  }
  .desc-container {
    padding: 10px;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
  color: grey;
  padding: 10px 0;
}
