$box-shadow:  2px 2px 18px 0 rgba(0,0,0,0.75);

.map-container > iframe{
  width: 100%;
  margin-bottom: 20px;
}

.data-info{
  background: #f9f7f7 repeat;
  width: 350px;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  h2 {
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid grey;
  }
  span {
    display: block;
    padding: 10px;
    border-bottom: 1px solid grey;
    strong {
      font-weight: 800;
    }
  }
}
