<div class="row">
  <div class="col-xs-12 center-xs">
    <h1>Kontakt oraz lokalizacja turnieju</h1>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="col-xs-12">
      <div class="row center-xs">
        <div class="data-info start-xs">
          <h2 class="center-xs">
            Dane kontaktowe
          </h2>
          <span class="center-xs">
            Michał Kujawa
          </span>
          <span>
            <strong>Adres email:</strong>
          <a href="dukocup@gmail.com">dukocup@gmail.com</a>
          </span>
          <span>
            <strong>Telefon:</strong> 502711541
          </span>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="row center-xs">
        <div class="data-info start-xs">
          <h2 class="center-xs">
            Adres
          </h2>
          <span>
          Tarnowo Podgórne 62-080
        </span>
          <span>
          ul. Nowa 15
        </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-8 map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d19452.50993639882!2d16.61945917862319!3d52.45081710548253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1starnowo+podg%C3%B3rne+ul+nowa+15!5e0!3m2!1spl!2spl!4v1505296866084"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>
</div>
