header {
  background: #E8E8E8 repeat;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, .1);
  .header-logo-container {
    position: relative;
    overflow: hidden;
    text-align: center;
  }

  .header-logo-container img {
    width: 250px;
  }
}

.menu {
  overflow: hidden;
  margin-bottom: 2em;
  background: #25292B;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
    text-align: center;
    a {
      display: block;
      letter-spacing: 1px;
      padding: 20px;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-size: 0.80em;
      font-weight: 600;
      border: none;
      color: #FFF;
    }
  }

  li {
    display: inline-block;
  }

  .current_page_item a, a:hover {
    text-decoration: none;
  }

  .is-active {
    background: #FFC31F;
  }
}

.hamburger-menu, .responsive-menu {
  display: none;
}

footer {
  height: 50px;
  background-color: black;
  color: white;
  .title {
    margin: 0;
    margin-top: 15px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

@media (max-width: 768px) {
  .menu {
    height: 60px;
  }

  .hamburger-menu {
    height: 100%;
    padding: 0 20px;
    display: inline-flex;
    border: 1px solid white;
    background-color: white;
    img {
      height: 25px;
    }
  }

  .responsive-menu {
    display: block;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #25292B;
    position: fixed;
    .hamburger-menu {
      height: 25px;
      padding: 20px;
      background-color: #e8e8e8;
    }
    ul li{
      padding: 20px 0;
      border-bottom: 1px solid white;
      background-color: #e8e8e8;
    }
    h1 {
      color: white
    }
  }

  .desktop-menu {
    display: none;
  }
}
