<div *ngIf="isOpened" class="responsive-menu" (click)="toggleMenu()">
  <a role="button" (click)="toggleMenu()">
    <div class="hamburger-menu">
      <img src="assets/hamburger.png">
    </div>
  </a>
  <h1 class="center-xs">MENU</h1>
  <ul>
    <li class="center-xs">
      <a [routerLink]="'komunikat'" [routerLinkActive]="['is-active']">Komunikat</a>
    </li>
    <li class="center-xs">
      <a [routerLink]="'zasady'" [routerLinkActive]="['is-active']">Zasady</a>
    </li>
    <li class="center-xs">
      <a [routerLink]="'rejestracja'" [routerLinkActive]="['is-active']">Panel rejestracyjny</a>
    </li>
    <li class="center-xs">
      <a [routerLink]="'sponsorzy'" [routerLinkActive]="['is-active']">Sponsorzy</a>
    </li>
    <li class="center-xs">
      <a [routerLink]="'kontakt'" [routerLinkActive]="['is-active']">Kontakt</a>
    </li>
  </ul>
</div>

<header>
  <div class="menu">
    <a role="button" (click)="toggleMenu()">
      <div class="hamburger-menu middle-xs">
        <img src="assets/hamburger.png">
      </div>
    </a>
    <ul class="desktop-menu">
      <li>
        <a [routerLink]="'komunikat'" [routerLinkActive]="['is-active']">Komunikat</a>
      </li>
      <li>
        <a [routerLink]="'zasady'" [routerLinkActive]="['is-active']">Zasady</a>
      </li>
      <li>
        <a [routerLink]="'rejestracja'" [routerLinkActive]="['is-active']">Panel rejestracyjny</a>
      </li>
      <li>
        <a [routerLink]="'sponsorzy'" [routerLinkActive]="['is-active']">Sponsorzy</a>
      </li>
      <li>
        <a [routerLink]="'kontakt'" [routerLinkActive]="['is-active']">Kontakt</a>
      </li>
    </ul>
  </div>
  <div class="header-logo-container">
    <a [routerLink]="''">
      <img src="assets/logo.png" alt="Nie znaleziono logo"/>
    </a>
  </div>
</header>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container-fluid">
    <div class="row middle-xs">
      <div class="col-xs-12">
        <h3 class="title center-xs">Duko cup - turniej brazylisjkiego jiu jitsu dla dzieci</h3>
      </div>
    </div>
  </div>
</footer>
