form {
  margin-bottom: 20px;
  cuporg-input-row {
    margin-bottom: 10px;
    display: block;
  }

  button {
    padding: 10px 20px;
    text-transform: uppercase;
  }

  .hide-field {
    display: none;
  }
}
